<!DOCTYPE html>
<html>
<head>
	<script>
function pairs() {
    let y = document.getElementById("pairNumbers").value;
    document.getElementById("names").innerHTML = "Enter the names to pair in the boxes.<br>";
    for (let x = 1; x <= y; x++) {
        let textInput = document.createElement("input");
        textInput.type = "text";
        textInput.name = "names[]" + x;
        textInput.id = "show";
        textInput.required = true;
        textInput.placeholder = "Name";
        document.getElementById("names").appendChild(textInput).value;
    }
}
	</script>
	<title></title>
</head>
<body>
	<h1>Pair Picker</h1>
	<form method="post" action="/keep" id="text_box">
    <input type="number" min=2 autofocus id="pairNumbers" oninput="pairs()">
    <p id="names"></p>
    <br>
    <input type="submit">
</form>
</body>
</html>